.container {
    padding: 10px 100px;
}

.container .ramen{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 20px;
}
.container .ramen .item{
    display:flex;
    flex-direction:column;
    padding: 15px;
    border: 3px double white;
    background-color: rgba(0,0,0,0.2);
    box-shadow: 5px 5px rgba(0,0,0,0.3);
    border-radius: 5px;
}
.container .ramen .item img{
    width:100%;
}
.container .ramen .item .detail-ramen {
    display:flex;
    flex-direction:column;
}
.container .ramen .item .detail-ramen .name {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content:center;
    font-size: 25px;
    color:white;
    margin-bottom:10px;
    background-color: lightgray;
}
.container .ramen .item .detail-ramen .detail p{
    font-size: 18px;
    margin-bottom: 12px;
}
.container .ramen .item .detail-ramen .order {
   display:flex;
   flex-direction:row;
   justify-content:space-between;
   align-items:center;
}
.container .ramen .item .detail-ramen .order .select{
    font-size: 16px;
}
.container .ramen .item .detail-ramen .order .cart{
    padding:7px 16px;
    background-color:gray;
    border-radius:5px;
    font-size: 16px;
}
.container .ramen .item .detail-ramen .order .cart:hover{
    opacity:0.7;
}
.container .ramen .item .detail-ramen .order .cart:active{
    opacity:0.5;
}
.container .ramen .item .detail-ramen .order .cart a{
    text-decoration: none;
    color: white;
}
.container .ramen .item .detail-ramen .order .cart a:hover{
    color: yellow;
}


.container .title{
    display:flex;
    flex-direction:row;
    justify-content:center;
    text-align:center;
    font-size: 25px;
    background-color:gray;
    margin-bottom:10px;
    color:white;
}
.container .row{
    display:flex;
    flex-direction:row;
}
.container .row .col{
    flex:1;
    display:flex;
    flex-direction:row;
    align-items:center;
    justify-content:center;
    border:1px solid black;
    background-color: white;
}
.container .row .header{
    font-weight:700;
    font-size:18px;
}