* {
    margin: 0;
    padding: 0;
}

nav {
    display: flex;
    flex-direction: row;
    justify-content: center;
    background-color: maroon;
    padding: 20px 30px;
}
nav .option {
    padding: 5px 20px;
    transition: all 0.4s;
    border-radius: 5px;
}
nav .option:hover{
    background-color:lightgray;   
    opacity: 0.8; 
}
nav .option:active{
    opacity: 0.5;   
}
nav a{
    text-decoration: none;
    color: yellow;
}
nav .role{
    padding: 5px 20px;
}
nav .role #UserRoleLabel{
    font-size: 18px;
    color:white;
}